    <br>
    <br>
    <div class="album text-muted">
      <div class="container">
        <div class="row">
          <div  class="col-md-4" *ngFor="let ad of advdata"  >
            <img class = "img" data-src="{{ad.ad_img}}" >
            <p class="card-text">
            </p>
                <h4 class="media-heading">Posted date: {{ad.ad_date}}</h4>
                <br>
                <h4>Category : {{ad.ad_cat}}</h4>
                <br>
                <h4>Location: {{ad.ad_loc}}</h4>
                <br>
                <h4>Description: {{ad.ad_desc}}</h4>
                <br>
                <h4> Contact : {{ad.ad_phone}}</h4>
                <br>
          </div>
        </div>
                <br>
                <br>
                <br>
                </div>
                </div>
            <div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>

    <br>
    <div class="commentBox">

            <div class="commentBox">
        
        <h3 class="taskDescription" *ngIf="isAuth()" > Leave your comment below </h3>
        <h3 class="taskDescription" *ngIf="!isAuth()" >Sign up /Sign in to leave your comment below</h3>
    </div>
            <ul class="commentList">
                
          <div  class="col-md-6" *ngFor="let comm of comments">
         
                <div class="commenterImage">
                  <img src="{{comm.userImage}}" />
                </div>
          		 <h3>
          		  :  &nbsp;	{{comm.text}}
          		 </h3> 
          		 <br>
          		User name : {{comm.username}} &nbsp; &nbsp; &nbsp; &nbsp; Posted date : {{comm.date}}  GMT 
        	<button *ngIf = "commentAuth(comm.userId)"  (click)="editComment(comm._id)" type="submit"  >Edit</button>
        	<button *ngIf = "commentAuth(comm.userId)" (click)="deleteComment(comm._id)" type="submit"   >delete</button>
<button  (click)="!editComment(comm._id)"  type="submit" *ngIf=toggle >Cancel</button>
          
          <br>
      <hr>

        <div class="col-md-12">
      <br>
          </div>
        </div>
   <br>
                </ul>


<button  (click)="anotherSubmit();!editComment();anotherSubmit()" type="submit" *ngIf=toggle >Post</button>
<textarea id="myTextarea"    [hidden]=!toggle [(ngModel)]="text">
   </textarea>
   <input type="text" style="width: 100%;" [(ngModel)]="com" *ngIf="isAuth()" placeholder="insert comment"/>
<button  (click)="insertComment()" type="submit"  *ngIf="isAuth()" [hidden]=toggle>submit</button>
<br>
<br>
    </div>
    </div>
    </div>