        <div class="row">
          <div  class="col-md-4" *ngFor="let ad of advdata"  >
            <img class = "img" data-src="{{ad.ad_img}}" >
            <p class="card-text">
                <span class="media-heading">{{ad.ad_date}}</span>
                <br>
                <span>Category : {{ad.ad_cat}}</span>
                <br>
                <span>Location: {{ad.ad_loc}}</span>
                <br>
                <span>Description: {{ad.ad_desc}}</span>
                <br>
                <span> Contact : {{ad.ad_phone}}</span>
                <br>
            </p>
          </div>
        </div>
                <br>
                <br>
                <br>
            <div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>

    <br>
    <div class="commentBox">

            <div class="commentBox">
        
        <p class="taskDescription"> Leave your comment below </p>
    </div>
            <ul class="commentList">
                <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                </div>
                
          <div  class="col-md-6" *ngFor="let comm of comments">
          <ul>
          		 <h5>
          		 - : 	{{comm.text}}
          		 </h5> 
          		 <br>
          		User name : {{comm.username}} &nbsp; &nbsp; &nbsp; Posted date : {{comm.date}} 
        	<button *ngIf = "commentAuth(comm.userId)" (click)="editComment(comm._id)" type="submit"  >Edit</button>
        	<button *ngIf = "commentAuth(comm.userId)" (click)="deleteComment()" type="submit"   >delete</button>
        	
        	<br>
			<hr>

        <div class="col-md-12">
        	          <div class="form-group">


			<br>

          </div>
          </div>
          </ul>
        </div>
   <br>

                </ul>


<button  (click)="anotherSubmit();!editComment();anotherSubmit()" type="submit" *ngIf=toggle >submit</button>
<textarea id="myTextarea"    [hidden]=!toggle [(ngModel)]="text">
   </textarea>
   <input type="text" style="width: 100%;" [(ngModel)]="com" *ngIf="isAuth()"  placeholder="insert comment"/>
<button  (click)="insertComment()" type="submit"  *ngIf="isAuth()">submit</button>
<br>
<br>
    </div>
    </div>
    </div>